fastapi
uvicorn
sqlalchemy
psycopg2-binary
pydantic-settings
curl-cffi
langchain
langchain-openai
langchain-core
langchain-community
langgraph
celery[sqlalchemy]
redis
tavily-python
python-multipart
hubspot-api-client
python-dotenv
alembic
pydantic[email]
aiosmtplib
ddgs
requests
pytz